<template>
    <section>
        <figure class="position-relative">
            <img :src="answer_area_img" alt="Área de respostas">

            <section class="answer-area">
                <label class="radio-container">Ameaça Óbvia
                    <input @input="$store.commit('SET_ANSWER_SELECTED', 'danger')" type="radio" :checked="answer_selected == 'danger'">
                    <span class="checkmark"></span>
                </label>
                <label class="radio-container">Ameaça Possível
                    <input @input="$store.commit('SET_ANSWER_SELECTED', 'warning')" type="radio" :checked="answer_selected == 'warning'">
                    <span class="checkmark"></span>
                </label>
                <label class="radio-container">Sem Ameaça
                    <input @input="$store.commit('SET_ANSWER_SELECTED', 'success')" type="radio" :checked="answer_selected == 'success'">
                    <span class="checkmark"></span>
                </label>
            </section>

            <button @click="send" class="btn btn-primary btn-send">
                Enviar
            </button>
        </figure>

    </section>
</template>

<style scoped>
@import "~/assets/css/utils/radio.css";
@import "~/assets/css/answer-area/responsive.css";

.answer-area {
  position: absolute;
  top: 15%;
  left: 15%;
}

.btn-send {
  position: absolute;
  right: 3em;
  bottom: 2em;
  width: 7em;
  height: 3.5em;
  background-color: rgb(15, 106, 152);
  border: 0.12em solid white;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (min-width: 1700px) {
    .btn-send {
        right: 3em;
        bottom: 2.5em;
        width: 9.5em;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1700px;){
    .btn-send {
        right: 3em;
        width: 8em;
    }
}

@media screen and (min-width: 1150px) and (max-width: 1360px) {
    .btn-send {
        right: 3em;
        width: 6em;
    }
}
</style>


<script>
import { mapState } from "vuex";
import { ANSWER_AREA } from "~/.env";
import DashboardDispach from "~/utils/mixins/dashboard"

export default {
    mixins: [DashboardDispach],

    computed: {
        answer_area_img: () => ANSWER_AREA,

        ...mapState({
            answer_selected: state => state.answer_selected,
            active_question: state => state.active_question,
            questions: state => state.questions,
            qnt_questions: state => state.qnt_questions,
        })
    },
};
</script>

