<template>
    <section class="col-xs-12">
        <figure class="position-relative">
            <img class="btn-area" :src="btn_area_img" alt="Área de botões">

            <section class="buttons">
                <img @click="setTypeImage('negativo')" class="button cursor-pointer" :src="btn_1" alt="Botão 1">
                <img @click="setTypeImage('mineral')" class="button cursor-pointer" :src="btn_2" alt="Botão 2">
                <img @click="setTypeImage('organico')" class="button cursor-pointer" :src="btn_3" alt="Botão 3">
                <img @click="setTypeImage('pb')" class="button cursor-pointer" :src="btn_4" alt="Botão 4">
            </section>
        </figure>
    </section>
</template>

<script>
import {BTN_AREA, BTN_1, BTN_2, BTN_3, BTN_4} from '~/.env'
export default {
    computed: {
        btn_area_img: () => BTN_AREA,
        btn_1: () => BTN_1,
        btn_2: () => BTN_2,
        btn_3: () => BTN_3,
        btn_4: () => BTN_4,
    },

    methods: {
        setTypeImage(type) {
            this.$store.commit('SET_TYPE_IMAGE', type)
        }
    }
}
</script>

<style scoped>
figure img {
    margin-top: 0;
}

section {
    height: 100%;
}
.btn-area {
    position: absolute;
    top: -1.2em;
    left: 13.2em;
    width: 380px;
    height: 80px;
}
.button {
    width: 50px;
    height: 50px;
}

.buttons {
    position: absolute;
    z-index: 1;
    top: -4px;
    left: 17.4em;
}

.buttons .button {
    margin-right: 1em;
}

.button:last-child {
    margin-right: 0;
}

.cursor-pointer {
    cursor: pointer;
}

@media screen and (min-width: 1150px) and (max-width: 1366px) {
    .btn-area {
        left: 11.2em;
    }

    .buttons {
        left: 15.4em;
    }
}

@media screen and (min-width: 1533px) and (max-width: 1750px) {
    .btn-area {
        left: 14.2em;
        width: 400px;
        height: 100px;
    }

    .buttons {
        left: 16.4em;
    }

    .button {
        width: 70px;
        height: 70px;
    }
}

@media screen and (min-width: 1750px) and (max-width: 1800px) {
    .btn-area {
        left: 16.8em;
        width: 440px;
        height: 120px;
    }

    .buttons {
        left: 20em;
        top: .5em;
    }
}

@media screen and (min-width: 1800px) {
    .btn-area {
        left: 18.5em;
        width: 440px;
        height: 120px;
    }

    .buttons {
        left: 20.7em;
        top: .5em;
    }

    .button {
        width: 80px;
        height: 80px;
    }

}
</style>