<template>
    <section class="container-fluid" :style="'background-image: url(' +root_dir+ '/images/bg.jpg) center no-repeat'">
        <div v-if="transition" class="overlay position-fixed"></div>
        <section class="row mr-0 ml-0">
            <section class="col-7">
                <monitor-view />
            </section>
            <section class="col-5 mt-5">
                <section class="col-12 mt-5 ml-4">
                    <timer />
                </section>
                <section class="col-12 mt-3 mb-0">
                    <answer-area/>
                </section>
            </section>

            <section class="col-12">
                <bottom-bar />
            </section>
        </section>
    </section>
</template>

<style>
section {
    height: 100%;
}
.overlay {
    background-color: white;
    z-index: 2;
    opacity: 0.8;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container-fluid {
    background: url(~/assets/bg.jpg) center no-repeat;
}
</style>


<script>
import Timer from '~/components/dashboard/Timer.vue';
import MonitorView from '~/components/dashboard/MonitorView.vue';
import AnswerArea from '~/components/dashboard/AnswerArea.vue';
import BottomBar from '~/components/dashboard/BottomBar.vue';

import { mapState } from 'vuex';

export default {
    components: {
        MonitorView,
        Timer,
        AnswerArea,
        BottomBar,
    },

    computed: {
        ...mapState({
            transition: state => state.transition_control,
        }),
    },
};
</script>
