<template>
    <section>
        <figure class="position-relative">
            <img :src="monitor_url" alt="Imagem maleta">
            <img @click="$store.commit('SET_TYPE_IMAGE', 'original')" class="suitcase-image cursor-pointer" :src="`${image_path}/${type_image}.png`">
        </figure>
    </section>
</template>

<style scoped>
figure {
    width: 100%;
    margin-bottom: -4px;
}
.suitcase-image {
    width: 93%;
    height: 80%;
    position: absolute;
    top: 1.9em;
    left: 1.7em;
}

.cursor-pointer {
    cursor: pointer;
}

@media screen and (min-width: 1150px) and (max-width: 1366px) {
    .suitcase-image {
        top: 1.7em;
        left: 1.58em;
    }
}

@media screen and (min-width: 1800px) {
    .suitcase-image {
        top: 2.76em;
        left: 2.4em;
    }
}

@media screen and (min-width: 1800px) {
    .suitcase-image {
        top: 2.76em;
        left: 2.4em;
    }
}
</style>


<script>
import { mapState } from 'vuex';
import { MONITOR_IMG } from '~/.env';
const root_path = require('../../.root_dir');
export default {
    computed: {
        monitor_url: () => MONITOR_IMG,
        image_path() {
            return this.active_question && this.active_question.path.replace(root_path.ROOT_DIR + '/', '')
        },
        ...mapState({
            active_question: state => state.active_question,
            type_image: state => state.type_image,
        }),
    },
};
</script>
