<template>
    <section class="timer col-11">
        <timer-total />
        <timer-step v-if="timer_control_step" />
    </section>
</template>

<style>

@font-face {
    font-family: 'digital_display_tfbregular';
    src: url('~/static/fonts/digital-font/digital_display_tfb-webfont.woff2') format('woff2'),
         url('~/static/fonts/digital-font/digital_display_tfb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.timer {
    display: flex;
}
</style>

<script>
import {mapState} from 'vuex'
import TimerTotal from "~/components/dashboard/TimerTotal.vue";
import TimerStep from "~/components/dashboard/TimerStep.vue";

export default {

    computed: {
        ...mapState({
            timer_control_step: state => state.reset_time
        })
    },

    components: {
        TimerTotal,
        TimerStep,
    },
}
</script>

