<template>
    <div class="timer-step col-6 d-flex justify-content-center align-items-center">
        <span class="d-flex justify-content-center align-items-center">{{time}}</span>
    </div>
</template>

<style scoped>
span {
    font-family: 'digital_display_tfbregular';
}

.timer-step {
    height: 115px;
}

.timer-step > span {
    width: 75%;
    height: 60%;
    border-radius: 5px;
    text-align: center;
    font-size: 50px;
}

.timer-step {
    background-color: #116B99;
}

.timer-step > span {
    background-color: #155282;
    color: white;
}
</style>

<script>
import { mapState } from "vuex";
import DashboardDispach from "~/utils/mixins/dashboard"
export default {

    mixins: [DashboardDispach],

    data: () => ({
        startTime: Date.now() + 12475,
        currentTime: null,
        interval: null,
        time: '00:12',
    }),

    mounted() {
        this.interval = setInterval(() => {
            this.currentTime = Date.now()

            let distance = this.startTime - this.currentTime

            let seconds = Math.floor((distance % (1000 * 60)) / 1000)

            if (seconds === 0) {
                this.send()
                return this.$store.dispatch('RESET_TIME')
            }

            this.time = seconds >= 10 ? "00:"+seconds : "00:0"+seconds
        })
    },

    destroyed() {
        clearInterval(this.interval)
    },

    computed: {
        ...mapState({
            answer_selected: state => state.answer_selected,
            active_question: state => state.active_question,
            questions: state => state.questions,
            qnt_questions: state => state.qnt_questions,
        })
    },
}
</script>
