<template>
    <div class="timer-total col-6 d-flex justify-content-center align-items-center">
        <span class="d-flex justify-content-center align-items-center">{{time_total}}</span>
    </div>
</template>

<style scoped>
span {
    font-family: 'digital_display_tfbregular';
}

.timer-total {
    height: 115px;
}

.timer-total > span {
    width: 75%;
    height: 60%;
    border-radius: 5px;
    text-align: center;
    font-size: 50px;
}

.timer-total {
    background-color: rgb(240, 240, 240);
}

.timer-total > span {
    background-color: rgb(224, 224, 224);
}
</style>


<script>
import {mapState} from 'vuex'
export default {
    data: function() {
            return {
                state: "started",
                startTime: Date.now(),
                currentTime: Date.now(),
                interval: null
            }
        },
        mounted() {
            this.interval = setInterval(this.updateCurrentTime, 1000);
        },
        destroyed() {
            clearInterval(this.interval)
        },
        computed: {
            time_total() {
                return this.minutes + ':' + this.seconds;
            },
            milliseconds: function() {
                return this.currentTime - this.$data.startTime;
            },
            minutes: function() {
                var lapsed = this.milliseconds;
                var min = Math.floor((lapsed / 1000 / 60) % 60);
                return min >= 10 ? min : '0' + min;
            },
            seconds: function() {
                var lapsed = this.milliseconds;
                var sec = Math.ceil((lapsed / 1000) % 60);
                return sec >= 10 ? sec : '0' + sec;
            },

            ...mapState({
                time_to_resolve: state => state.time_to_resolve
            })
        },

        watch: {
            currentTime(value) {
                this.$store.commit('SET_TIME_TO_RESOLVE', this.time_total)


                if (this.time_to_resolve >= "20:00") {
                    this.finished()
                }
            }
        },

        methods: {
            reset: function() {
                this.$data.state = "started";
                this.$data.startTime = Date.now();
                this.$data.currentTime = Date.now();
            },
            pause: function() {
                this.$data.state = "paused";
            },
            resume: function() {
                this.$data.state = "started";
            },
            updateCurrentTime: function() {
                if (this.$data.state == "started") {
                    this.currentTime = Date.now();
                }
            },
            finished() {
                this.$store.dispatch('FINISH')
                return this.$router.push('/finalizado')
            }
        }
}
</script>

