<template>
    <register-form />
</template>

<script>
import RegisterForm from '~/components/auth/RegisterForm.vue'
export default {
    layout: 'default',
    components: {RegisterForm}
}
</script>
