<template>
    <section class="container">
        <section class="row">
            <section class="col-12 d-flex flex-column align-items-center mt-5">
                <button @click="start" class="btn btn-success btn-lg mt-5">
                    Iniciar Avaliação
                </button>
            </section>
        </section>
    </section>
</template>

<script>
export default {
    methods: {
        start() {
            this.$store.commit("ARRAY_CHOICE")
            this.$router.push('/dashboard')
        }
    }
}
</script>
