<template>
    <header>
        <app-logo />
    </header>
</template>

<script>
import AppLogo from '~/components/AppLogo.vue'
export default {
    components: {
        AppLogo
    },
}
</script>


<style scoped>
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(235, 235, 235);
    height: 85px;
}

figure {
    margin-right: 3em;
    width: 20em;
}
</style>

