<template>
    <figure>
        <img :src="logo" alt="Logo">
    </figure>
</template>

<script>
import {IMAGE_LOGO} from '~/.env';
export default {
    computed: {
        logo() {
            return IMAGE_LOGO
        }
    }
}
</script>


<style>
img {
    margin-top: 10px;
    width: 100%;
}
</style>

