<template>
    <section class="container">
        <section class="row">
            <section class="col-12 mt-5 d-flex flex-column align-items-center">
                <h1 class="mb-5">Você finalizou sua avaliação!</h1>

                <label class="mt-3">
                    Questões Respondidas: <span class="badge badge-secondary">{{answered_questions.length}}</span>
                </label>

                <label class="mt-3">
                    Questões Certas: <span class="badge badge-success">{{right_questions.length}}</span>
                </label>

                <label class="mt-3">
                    Questões Erradas: <span class="badge badge-danger">{{wrong_questions.length}}</span>
                </label>

                <label class="mt-3">
                    Questões em Branco: <span class="badge badge-light">{{blank_questions.length}}</span>
                </label>

                <label class="mt-3">
                    Tempo de Avaliação: <span class="badge badge-info">{{time_to_resolve}}</span>
                </label>

            </section>

            <section class="col-12 d-flex justify-content-center mt-5">
                <button @click="toHome" class="btn btn-primary btn-lg">
                    Inicio
                </button>
            </section>
        </section>
    </section>
</template>

<script>
import {mapState} from 'vuex'
export default {
    computed: {
        right_questions() {
            return this.answered_questions.filter(qst => qst.assert === true)
        },

        wrong_questions() {
            return this.answered_questions.filter(qst => qst.assert === false)
        },

        blank_questions() {
            return this.answered_questions.filter(qst => qst.assert === null)
        },

        ...mapState({
            answered_questions: state => state.answered_questions,
            user: state => state.user,
            time_to_resolve: state => state.time_to_resolve,
        })
    },

    mounted() {
        this.dispatchData()
    },

    methods: {
        dispatchData() {
            this.$store.dispatch('SEND', this.getPayloadData())
        },

        getPayloadData() {
            return {
                user_uid: this.user.uid,
                user_name: this.user.name,
                user_email: this.user.email,
                total_questions: this.answered_questions.length,
                right_questions: this.right_questions.length,
                wrong_questions: this.wrong_questions.length,
                blank_questions: this.blank_questions.length,
                time_to_resolve: this.time_to_resolve,
            }
        },

        toHome() {
            this.$store.commit('SET_ANSWERED_QUESTIONS_TO_EMPTY')
            this.$router.push('/')
        }
    }
}
</script>
