<template>
    <section>
        <app-header />
        <nuxt/>
    </section>
</template>

<script>
import AppHeader from '~/components/AppHeader.vue'

export default {
    components: {
        AppHeader
    }
}
</script>


<style>
html, body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
}
</style>

