<template>
    <section class="login-form">
        <nuxt />
    </section>
</template>

<style>
body, html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
