<template>
    <section class="container">
        <section class="row justify-content-center">
            <section class="col-sm-12 col-md-6">
                <section class="card mt-5">
                    <section class="card-header">
                        <span class="badge badge-primary">Login</span>
                    </section>

                    <section class="card-body">
                        <form method="POST">
                            <div class="form-group">
                                <label class="form-control-label" for="email">E-Mail</label>
                                <input v-model="form.email"
                                    type="email"
                                    class="form-control"
                                    name="email"
                                    id="email"
                                    :class="{'is-invalid': form.error.email}">
                                <span class="invalid-feedback">{{form.error.email}}</span>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="password">Senha</label>
                                <input v-model="form.password"
                                    class="form-control"
                                    type="password"
                                    name="password"
                                    id="password"
                                    required
                                    :class="{'is-invalid': form.error.password}">
                                <span class="invalid-feedback">{{form.error.password}}</span>
                            </div>

                            <button @click.prevent="submit" class="btn btn-success btn-block mt-3 mb-2" type="submit" :disabled="load">
                                Login
                            </button>

                            <nuxt-link to="/registro">Registre-se</nuxt-link>
                        </form>
                    </section>
                </section>
            </section>
        </section>
    </section>
</template>

<style scoped>
.badge-primary {
  font-size: 16px;
  background-color: #0068aa;
}
</style>


<script>
import { mapState } from 'vuex'

export default {
    data: () => ({
        form: {
            email: null,
            password: null,

            error: {
                email: null,
                password: null,
            }
        },

        load: false,
    }),

    computed: {
        ...mapState({
            user: state => state.user,
        })
    },

    methods: {
        async submit() {
            this.load = true
            this.resetErrorMessages()

            let response = await this.$store.dispatch('LOGIN', this.form)

            if (response.status && this.user.uid) {
                return this.$router.push('/')
            }

            this.load = true

            if ('auth/user-not-found' == response.code) {
                this.form.error.email = "Este usuário não foi encontrado."
            } else if ('auth/wrong-password' == response.code) {
                this.form.error.password = 'A senha informada está errada.'
            } else if ('auth/argument-error' == response.code) {
                this.form.error.password = 'A senha é obrigatória.'
            }
        },

        resetErrorMessages() {
            this.form.error = {
                email: null,
                password: null,
            }
        }
    }
};
</script>
