<template>
    <section class="container">
        <section class="row justify-content-center">
            <section class="col-sm-12 col-md-6">
                <section class="card mt-5">
                    <section class="card-header">
                        <span class="badge badge-primary">Registro</span>
                    </section>

                    <section class="card-body">
                        <form  method="POST">
                            <div class="form-group">
                                <label class="form-control-label" for="name">Nome</label>
                                <input v-model="form.name" type="text" class="form-control" name="name" id="name">
                                <span class="invalid-feedback">error</span>
                            </div>

                            <div class="form-group">
                                <label for="email" class="form-control-label">E-Mail</label>
                                <input
                                    v-model="form.email"
                                    type="email"
                                    class="form-control"
                                    name="email"
                                    id="email"
                                    :class="{'is-invalid': form.error.email}">
                                <span class="invalid-feedback">{{ form.error.email }}</span>
                            </div>

                            <div class="form-group">
                                <label for="password" class="form-control-label">Senha</label>
                                <input
                                    v-model="form.password"
                                    type="password" class="form-control" name="password" id="password"
                                    :class="{'is-invalid': form.error.password || form.error.password_confirmation}">

                                <span class="invalid-feedback">{{form.error.password}}</span>
                            </div>

                            <div class="form-group">
                                <label for="password-confirmation" class="form-control-label">Confirmação de Senha</label>
                                <input
                                    v-model="form.password_confirmation"
                                    type="password" class="form-control" name="password-confirmation" id="password-confirmation"
                                    :class="{'is-invalid': form.error.password_confirmation}">

                                <span class="invalid-feedback">{{form.error.password_confirmation}}</span>
                            </div>

                            <button @click.prevent="register" type="submit" class="btn btn-success" :disabled="load">
                                <span>Registrar</span>
                            </button>
                        </form>
                    </section>
                </section>
            </section>
        </section>
    </section>
</template>

<style>
.badge-primary {
    font-size: 16px;
    background-color: #0068aa;
}
</style>

<script>
import { mapState } from 'vuex';
export default {
    data: () => ({
        form: {
            name: null,
            email: null,
            password: null,
            password_confirmation: null,

            error: {
                email: null,
                password: null,
                password_confirmation: null,
            }
        },
        load: false,
    }),

    computed: {
        register_url: () => `${API_URL}/register`,
        ...mapState({
            user: state => state.user,
        })
    },

    watch: {
        "form.password_confirmation": {
            handler(value) {

                if (this.form.password != value) {
                    return this.form.error.password_confirmation = 'As senhas informadas não são as mesmas.'
                }
                this.form.error.password_confirmation = null;
            }
        }
    },

    methods: {
        async register() {
            this.load = true
            let response = await this.$store.dispatch('REGISTER', this.form)

            if (response.status && this.user.uid) {
                return this.$router.push('/')
            }

            this.load = false

            if ('auth/email-already-in-use' == response.code) {
                this.form.error.email = 'Este E-mail já está em uso.'
            }
        }
    }
}
</script>
