<template>
    <dashboard />
</template>

<script>
import Dashboard from '~/components/dashboard/Dashboard.vue'
export default {
    middleware: 'auth',
    components: {Dashboard},
}
</script>

<style>

</style>

