/* The container */
.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
    top: 8px;
    left: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}

@media screen and (min-width: 1025px) {
    .radio-container {
        padding-left: 55px;
        font-size: 32px;
    }

    .checkmark {
        top: 7px;
        height: 35px;
        width: 35px;
    }

    .radio-container .checkmark:after {
        top: 10px;
        left: 10px;
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width: 1150px) {
    .radio-container {
        padding-left: 48px;
        font-size: 26px;
    }

    .checkmark {
        top: 7px;
        height: 30px;
        width: 30px;
    }

    .radio-container .checkmark:after {
        top: 9px;
        left: 9px;
        width: 12px;
        height: 12px;
    }
}

@media screen and (min-width: 1150px) and (max-width: 1360px) {
    .radio-container {
        padding-left: 40px;
        font-size: 24px;
        top: 15px;
    }

    .checkmark {
        top: 0;
    }

    .radio-container .checkmark:after {
        top: 10px;
        left: 10px;
    }
}